@charset "utf-8";
/* CSS RESET */
.headBox { padding-bottom:30px; background:#e3e3e3; height:84px; position:fixed; width:100%; left:0; top:0; z-index:8;}
.topBox { overflow:hidden; height:84px; background:#fff; padding:0 40px 0 20px;}
.childicon { float:left; width:45px; height:45px; overflow:hidden; margin-top:20px;}
.childicon img { float:left;  width:45px; height:45px;}
.childtetle{ float:left; height:45px; line-height:45px; overflow:hidden; padding:20px 0 0 24px; font-size:24px; color:#666;}
.childclose { float:right; overflow:hidden; width:34px; height:34px; margin:25px 0 0 47px; background:url(../admin/images/close.png);}
.childclose:hover{  background:url(../admin/images/closehover.png);}
.childbut{ float:right;overflow:hidden; margin-top:20px;}
.publish {float:right;overflow:hidden; margin-top:20px; position:relative;}
.publish img { float:right; width:8px; height:4px; position:absolute; top:50%; margin-top:-2px; right:15px;}
.issueBox { overflow:hidden; float:left; width:140px; position:fixed; top:65px; right:110px; display:none; z-index:9;}
.issueBox span { overflow:hidden; float:left; width:100%; text-align:center; height:9px; background:url(../admin/images/arrowup.png) top center no-repeat; position:relative; z-index:2;}
.issueBox ul { float:left; width:128px; border:1px solid #e3e3e3; border-radius:5px; overflow:hidden; padding:0 5px; background:#fff; margin-top:-1px; position:relative; z-index:1;}
.issueBox ul li { overflow:hidden; line-height:50px; padding-left:15px; width:113px;}
.issueBox ul li  a { font-size:14px; color:#3277de;}
.border1{ border-bottom:1px solid #e3e3e3;}

.contentBox{ overflow:hidden; margin-left:20px; min-height:500px; background:#fff; padding: 124px 10px 10px 10px;}
.tabBox {border-bottom:2px solid #3277de; padding:0 10px; height:40px; line-height:40px; font-size:16px; color:#999; font-weight:bold;}
.tabBox a { position:relative; height:42px; margin:0 50px 0 15px; display:inline-block; color:#999;}
.tabBox a:hover{ background:url(../admin/images/tabbg.png) center bottom no-repeat; color:#3277de;}
.tabcur{background:url(../admin/images/tabbg.png) center bottom no-repeat; color:#3277de !important;}

.configureBox { overflow:hidden; padding:20px 0 0 20px;}
.configureleft{ float:left; width:600px; overflow:hidden;}

.configureright { float:left; width:312px; overflow:hidden;}
.ihone{overflow:hidden; width:266px; height:471px; margin:0 auto; padding:94px 23px 91px 23px; background:url(../admin/images/phone.jpg) left top no-repeat;}
.ihone img { float:left; width:266px; height:471px;}

.numbertitle{ overflow:hidden; line-height:30px; padding-top:8px; color:#333333; font-size:16px; font-weight:bold;}
.numbertitle img { float:left; padding-right:10px;}
.numbertitle span { color:#999; font-size:14px; padding-left:10px;}
.dongstitle{ overflow:hidden; padding-top:10px;}
.dongs{ overflow:hidden; padding-top:10px;}
.dongs dt,.dongs dd { overflow:hidden;}

.bigpic,.Smallpic { float:left; width:214px; height:115px; overflow:hidden;}
.Smallpic { margin-left:16px; display:inline;}
.uppic { overflow:hidden; float:left;  border:2px dashed #e5e5e5; width:96px; height:25px; padding:43px 57px; line-height:25px; text-align:right; color:#666; font-size:14px; cursor:pointer;}
.uppic img { float:left; width:25px; height:25px;}
.fz{ font-size:12px; line-height:24px; color:#999;float:left; width:214px; height:24px; overflow:hidden;}

.showbigpic{ overflow:hidden;  width:214px; height:115px;}
.showbigpic a { width:214px; height:115px; display:inline-block; position:relative;}
.showbigpic a img { float:left; width:214px; height:115px;}
.showbigpic a span { top:0; left:0;}
.showbigpic a span, .showsmallpic a span{  position:absolute; width:214px; height:115px; line-height:115px; text-align:center; font-size:16px; color:#fff; background:url(../admin/images/hoverspanbg.png); display:none;}
.showbigpic a:hover span,.showsmallpic a:hover span { display:block; }
.showsmallpic { overflow:hidden; width:214px; height:115px;}
.showsmallpic a { display:inline-block; width:52px; height:52px; border:2px dashed #e5e5e5; padding:30px 79px 29px 79px; position:relative;}
.showsmallpic a  img { float:left; width:50px; height:50px; border:1px solid #a7a7a7;}
.showsmallpic a span { top:-2px; left:-2px;}




/**/
.timeBox { overflow:hidden; color:#333;}
.timeBox li { overflow:hidden; padding-top:15px;}
.addrewardBox { overflow:hidden; padding-top:10px;width:504px;}
.addrewardBox dt { overflow:hidden; line-height:30px;}
.addrewardBox dd { overflow:hidden;}
.addrewardBox dd li { float:left; width:496px; border:1px solid #e5e5e5; overflow:hidden; height:88px; margin-top:14px;}
.rewardnumber{ float:left; width:88px; height:88px; background:#3277de; color:#fff; font-size:14px; text-align:center; line-height:88px; border-right:1px solid #e5e5e5;}
.rewardnumber span { font-size:30px; font-family:Arial;}
.rewardtitle,.rewardminute{ float:left; overflow:hidden; height:30px; line-height:30px; width:380px; padding:0 7px 0 20px;}
.rewardtitle strong { font-weight:bold; float:left;}
.rewardtitle span { cursor:pointer;}
.d-spantxt{ display:inline-block; line-height:30px; padding-right:10px;}
.g-middleTxt input { float:left; margin:9px 4px 0 0; cursor:pointer;*margin:5px 2px 0 0;}
.g-middleTxt a { color:#3277de; text-decoration:underline; margin-left:10px;}
.add { overflow:hidden; float:left; width:300px; border:2px dashed #e5e5e5; margin-top:10px; height:34px; padding:25px 0 25px 194px; line-height:34px; cursor:pointer;}
.add img { float:left; padding-right:19px;}

.minutepicBox { overflow:hidden; padding-top:10px;}
.minutepicBox li { float:left; overflow:hidden; width:302px;}
.pic272Box { float:left; overflow:hidden; width:268px; margin:15px 30px 0 0; border:2px dashed #e5e5e5; height:79px; cursor:pointer; padding:70px 0 0}
.pic272Box p { float:left; padding-left:68px; width:200px; overflow:hidden; line-height:25px; height:25px; font-size:14px; color:#666;}
.pic272Box p img { float:left; padding-right:20px;}
.pic272Box span { float:left; width:268px; height:54px; text-align:center; line-height:54px; font-size:14px;}
.showpic272Box {float:left; overflow:hidden; width:272px; padding:15px 15px 0 0; position:relative;}
.showpic272Box a {width:272px; height:151px; overflow:hidden; display:inline-block; position:relative;}
.showpic272Box a img {float:left; width:272px; height:151px;}
.showpic272Box a span { display:none;  position:absolute; width:272px; height:151px; line-height:151px; text-align:center; font-size:16px; color:#fff; background:url(../admin/images/hoverspanbg.png); top:0; left:0;}
.showpic272Box a:hover span { display:block;}
.showpic272Box p { position:absolute; width:39px; height:39px; top:0; right:0; cursor:pointer;}
.showpic272Box p img { float:left; width:39px; height:39px;}
.editBox { overflow:hidden; padding-top:10px;}

.historyBox { overflow:hidden; width:87%; padding-left:20px;}
.polling { overflow:hidden;}
.countBox { overflow:hidden;padding-left:20px;}
.censusBox { overflow:hidden; padding-top:10px;}
.censusBox li { float:left; height:90px; overflow:hidden; padding:0 50px; background:url(../admin/images/tableLine.png) left top repeat-y; text-align:center;}
.censusBox li:first-child { background:none;}

.censusBox li h1 {font-weight:normal; height:60px; line-height:60px;overflow:hidden; font-size:62px; color:#3277de;}
.censusBox li p{overflow:hidden; height:20px; margin-top:10px; line-height:20px; font-size:14px; color:#666;}

.reportBox { overflow:hidden; margin-top:20px; border:1px solid #e3e3e3; width:90%; }
.reportBox dt { overflow:hidden; line-height:28px; text-align:center;padding:20px 20px 0 20px;}
.reportBox dd { overflow:hidden; padding:0 20px 20px 20px;}
.chart { overflow:hidden; height:250px;}

.bordernone { border:none !important;}
.picandtxt { display:inline-block; overflow:hidden; color:#3277de !important; background:url(../admin/images/see16.png) right center no-repeat; padding-right:20px;}



/*input width*/
.w-135{ width:133px;}
.w-444 { width:442px;}
.w-300 { width:300px;}
.w-246 { width:246px;}
.w-80 { width:80px;}
.w-116 { width:116px;}
.w-160 { width:160px;}

/*color*/
.color333 { color:#333;}
.color999 { color:#999;}

/*margin*/
.ml10{ margin-left:10px;}
.ml16{ margin-left:16px;}
.ml6{ margin-left:6px;}
.mr18{ margin-right:18px;}
.mr15 { margin-right:15px;}
.mt30 { margin-top:30px;}

/*padding*/
.p-top14 { padding-top:14px;}
.p30 { padding:30px 0;}

/* a */

.bule{ display:inline-block; overflow:hidden; padding:0 10px; color:#3277de !important;}
.bule:hover{ text-decoration:underline;}



